@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
:root {
    --main-color: #FCFCFC;
    --text-color: #050505;
    --gray-color: #BEBEBE;
    --highlight-color: #f9868d;
}

@keyframes colorchange {
    0% {
        background-color: var(--highlight-color);
    }
    100% {
        background-color: var(--main-color);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translate(0, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0px);
    }
}

@keyframes line {
    0% {
        width: 0.5em;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

div.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

div.banner a {
    z-index: 2;
    filter: none;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 100%;
}

div.background {
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    width: 100%;
    filter: blur(1px);
    background: linear-gradient(124deg, var(--gray-color), var(--highlight-color));
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
}

div.banner a span.circle {
    height: 10px;
    width: 10px;
    background-color: var(--main-color);
}

div.filters {
    margin-top: 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    font-weight: 200;
    align-self: flex-start;
    margin-top: 0;
}

header img {
    align-self: flex-start;
    height: 50px;
}

.container {
    margin: 20px;
    opacity: 0;
    animation: fadein 2s 1s forwards;
}

.container span.line {
    animation: line 2s 2s forwards;
    background-color: var(--gray-color);
    height: 0.1em;
    width: 0.em;
    display: inline-block;
    vertical-align: middle;
}

div.filters,
div.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.title {
    font-size: 1.2rem;
}

div.subcontainer a.info {
    padding: 15px 0 15px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

footer {
    margin-top: 10%;
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: stretch; */
    font-weight: 200;
    overflow: hidden;
}

footer a:hover {
    text-decoration: none;
    color: var(--gray-color);
}

footer a {
    text-decoration: none;
    color: var(--highlight-color);
}

footer div.links {
    float: right;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    clear: both;
}

footer div.links a {
    margin-right: 10%;
}

article.extra {
    margin-top: 15%;
}

article.extra h2 {
    font-weight: 200;
    font-size: 1.5rem;
}


/* posts de la pagina */

div.grid-container {
    display: inline-block;
    display: inline-grid;
    grid-template-columns: 1fr;
    width: 100%;
}

div.pictures,
div.description {
    margin-left: auto;
    margin-right: auto;
}

div.pictures img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.description {
    font-weight: 200;
    padding: 10px;
    font-size: 15pt;
    line-height: 1.5;
    text-indent: 2em;
}

div.download {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20pt;
}

div.download a {
    text-decoration: none;
    color: var(--highlight-color);
}

div.download a:hover {
    color: var(--gray-color);
}


/* Tamaño browser */

@media(min-width: 600px) {
    body {
        font-weight: 100;
    }
    h1 {
        font-weight: 100;
        margin-top: 0;
        padding-top: 0;
    }
    header img {
        align-self: flex-start;
        height: 60px;
    }
    p.filter-name {
        font-weight: 300;
    }
    div.container {
        max-width: 1195px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
    }
    div.subcontainer div.title {
        padding: 40px 0 40px 0;
    }
    header {
        margin-bottom: 192px;
    }
    h1 {
        font-size: 60px;
        font-weight: 100;
    }
    a.info,
    p.year {
        font-size: 40px;
    }
    a.info {
        color: var(--text-color);
    }
    a.info:hover {
        color: var(--highlight-color);
    }
    /* POSTS DE LA PÁGINA */
    div.grid-container {
        display: inline-block;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    div.pictures,
    div.description {
        height: 663px;
        overflow-y: scroll;
    }
    div.pictures img {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
    }
    div.description {
        font-weight: 200;
        padding: 40px;
        font-size: 15pt;
        line-height: 1.5;
        text-indent: 2em;
    }
    div.download {
        height: 200px;
        display: flex;
        align-items: center;
        padding: 40px;
        font-size: 20pt;
    }
    div.download a {
        text-decoration: none;
        color: var(--highlight-color);
    }
    div.download a:hover {
        color: var(--gray-color);
    }
    footer {
        font-size: 1.5rem;
    }
}